@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  font-family: "Poppins";
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #fcfcfc;
  position: fixed;
  width: 100%;
  height: 5.5rem;
  top: 0;
  left: 0;
}
nav ul a {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  gap: 3rem;
  font-weight: 500;
}
nav ul a:hover {
  border-bottom: 2px solid #000;
}
.registration {
  margin-left: 3rem;
}
.hire {
  margin-left: 3rem;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  width: 8rem;
  height: 2rem;
  text-align: center;
  border-radius: 0.2rem;
}

.hire:hover {
  background-color: #fcc028;
  color: #fff;
  border: none;
  transform: translateY(-3px);
  transition: all 0.4s;
}
.hire:hover::after {
  transform: scaleX(0.2) scaleY(1.6);
}
.hamburger .bar {
  display: none;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 820px) {
  .home {
    display: none;
  }
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    left: 90%;
    top: 50%;
  }
  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(51, 66, 105);
    margin: 6px 0px;
    transition: 0.4s;
    z-index: 9999;
  }
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
  }
  .hamburger.is-active .bar {
    opacity: 0;
  }

  .mobile-nav {
    position: fixed;
    display: block;
    top: 20%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    transition: 0.4s;
    background-color: #ffffff;
  }
  .mobile-nav.is-active {
    left: 100%;
  }
  .mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: rgb(88, 156, 145);
    color: #fff;
  }
  .mobile-nav a:hover {
    background-color: rgb(9, 66, 57);
  }
  .registration {
    margin-left: 0;
  }
  .hire {
    margin-left: 3rem;
    text-decoration: none;
    color: #f7e2fd !important;
    background-color: #2e382e !important;
    border: none;
    width: 100%;
    height: 3.1rem;
    text-align: center;
    border-radius: 0.2rem;
  }

  .hire:hover {
    background-color: #fcc028 !important;
    color: #fff;
    border: none;
    transform: translateY(-3px);
    transition: all 0.4s;
  }

  .hire:hover::after {
    transform: scaleX(0.2) scaleY(1.6);
  }
}
@media screen and (max-width: 587px) {
  .about {
    margin-bottom: 26rem;
  }
}
/* Nav-header */
.nav-header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 4rem;
}

.heading {
  font-size: 34px;
  font-weight: 700;
  color: #000;
}

.heading-text {
  font-size: 18px;
  color: #00000073;
  margin-top: 3rem;
}

.logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* About */
.about {
  width: 100%;
  padding: 5rem;
  height: 35rem;
  top: 0;
  left: 0;
}
.about-container {
  width: 65%;
  margin: auto;
}
.about-download {
  display: flex;
}
.about-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.about-position {
  color: #5e6fc5;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.about-text {
  font-size: 20px;
  font-weight: 300;
}

.about-download a {
  text-decoration: none;
  color: #000;
}
.about-cv {
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-block;
}
.download-image {
  width: 2.1rem;
  height: 2.1rem;
}

.skills {
  width: 100%;
  padding: 5rem;
  height: 35rem;
  top: 0;
  left: 0;
}
@media screen and (max-width: 360px) {
  .skills {
    margin-top: 32rem;
  }
}
.skills-technical {
  width: 65%;
  margin: auto;
  top: 0;
  left: 0;
}
.tech-skills {
  text-transform: uppercase;
  color: #161616;
}
.skills-technical li {
  color: #645c5c;
}

.portfolio {
  width: 100%;
  padding: 5rem;
  height: 35rem;
  top: 0;
  left: 0;
}
.portfolio-menu {
  width: 65%;
  margin: auto;
  top: 0;
  left: 0;
}
.portfolio-heading {
  color: #207733;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.sawa-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Blog */

.blog-heading {
  text-align: center;
  color: #207733;
  text-transform: uppercase;
}

.blog {
  width: 100%;
  height: 35rem;
  padding: 5rem;
}

.blog-form {
  max-width: 600px;
  margin: auto;
  padding: 0 5px;
  overflow: hidden;
}

.blog-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #d9d9d9;
  padding: 20px 40px;
  outline: none;
  color: #000;
  transition: 0.5s;
  border-radius: 5px;
}

.blog-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.blog-form-text {
  resize: none;
  height: 120px;
}

.blog-form-btn {
  border: 0;
  background: #207733;
  color: #fff;
  padding: 12px 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.blog-form-btn:hover {
  background: #051b0a;
}

/*Contact */
.contact-heading {
  text-align: center;
  color: #207733;
  text-transform: uppercase;
}

.contact {
  width: 100%;
  height: 35rem;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 5px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #d9d9d9;
  padding: 20px 40px;
  outline: none;
  color: #000;
  transition: 0.5s;
  border-radius: 5px;
}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  border: 0;
  background: #207733;
  color: #fff;
  padding: 12px 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover {
  background: #051b0a;
}

/* Footer */

footer {
  background-color: #2f303a;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  color: #fff;
}
.social-medias {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 1rem;
}
.copyright {
  text-align: center;
  align-content: center;
}
.twitter-logo,
.linkedin-logo {
  width: 1.5rem;
  height: 1.5rem;
}
