@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #676b6e;
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
}
.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-links li .active {
  border-bottom: 5px solid rgb(231, 156, 156);
  width: 100%;
  border-radius: 1px;
  transition: 0.5s ease;
}
.navbar-links li:hover {
  background-color: #555;
}
/* .dropdown{
  box-sizing: border-box;
}
.select {
  background-color: #676b6e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.select:hover{
  background-color: #555;
}
.caret{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em ;
  background-color: #676b6e;
  border: 1px #323741 solid;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  border-radius: 0.5em;
  color: #fff;
  position:absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}
.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.active{
  background-color: #676b6e;
}
.menu-open {
  display: block;
  opacity: 1;
} */

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
@media screen and (max-width: 540px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.3rem 0.7rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .about-container,
  .skills-technical,
  .portfolio-menu,
  .blog-menu,
  .contact-menu,
  .login-menu,
  .forgot-menu,
  .signup-menu {
    margin-top: 15rem;
  }
  
  
}

.hire {
  text-decoration: none;
  color: #000;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 0.2rem;
}
.hire:hover {
  background-color: #fcc028;
  color: #000;
  border: none;
  transform: translateY(-2px);
  transition: all 0.2s;
}
.hire:hover::after {
  transform: scaleX(0.2) scaleY(1.6);
}
/* Nav-header */
.nav-header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 4rem;
}
.heading {
  font-size: 34px;
  font-weight: 700;
  color: #000;
}
.heading-text {
  font-size: 18px;
  color: #00000073;
  margin-top: 3rem;
}
.logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* About */
.about {
  width: 100%;
  padding: 3rem;
  height: 35rem;
  display: flex;
  justify-content: center;
}
.about-download {
  display: flex;
}
.about-heading {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.about-position {
  color: #5e6fc5;
  font-size: 24px;
  text-transform: uppercase;
}
.about-text {
  font-size: 18px;
  font-weight: 300;
}
.about-download a {
  text-decoration: none;
  color: #000;
  margin-top: 20px;
}
.about-cv {
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-block;
}
.download-image {
  width: 2.1rem;
  height: 2.1rem;
}
/* Skills */
.skills {
  width: 100%;
  height: 100%;
  padding: 3rem;
  height: 35rem;
}
.tech-skills {
  text-transform: uppercase;
  color: #161616;
  text-align: center;
}

.languages {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  place-content: center;
  column-gap: 2rem;
  padding: 2rem;
}
.html-desc{
  font-size: 15px;
  color: #08220e;
  display: block;
  width: 100px;
}
.html,
.css,
.js,
.figma,
.git,
.trello,
 {
}
.html-image,
.css-image,
.js-image,
.figma-image,
.git-image,
.trello-image,
 {
  width: 2rem;
  height: 2rem;
}
.html-text,.css-text,.js-text,.figma-text,.git-text,.trello-text{
  font-size: 1rem;
  font-weight: 600;
}


/* Portfolio  */

.portfolio {
  width: 100%;
  padding: 3rem;
  height: 35rem;
  display: flex;
  justify-content: center;
}
.portfolio-heading {
  color: #207733;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
}
.portfolio-text {
  text-align: center;
  font-size: 17px;
}
.sawa-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Blog */
.blog {
  margin-top: 2.5rem;
  width: 100%;
  height: 35rem;
  padding: 5rem;
}
.blog-heading {
  text-align: center;
  color: #207733;
  text-transform: uppercase;
}
.blog-form {
  max-width: 600px;
  margin: auto;
  padding: 0 5px;
  overflow: hidden;
}
.profile-picture {
  display: block;
  font-size: 25px;
  font-weight: 500;
}
.blog-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #d9d9d9;
  padding: 20px 40px;
  outline: none;
  color: #000;
  transition: 0.5s;
  border-radius: 5px;
}
.blog-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.blog-form-text {
  resize: none;
  height: 120px;
}
.blog-form-btn {
  border: 0;
  background: #207733;
  color: #fff;
  padding: 12px 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1rem;
  font-weight: 600;
}
.blog-form-btn:hover {
  background: #051b0a;
}
/*Contact */
.contact-heading,
.login-heading,
.signup-heading {
  text-align: center;
  color: #207733;
  text-transform: uppercase;
}
.contact {
  width: 100%;
  height: 35rem;
  padding: 5rem;
}
.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 5px;
  overflow: hidden;
}
.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #d9d9d9;
  padding: 20px 40px;
  outline: none;
  color: #000;
  transition: 0.5s;
  border-radius: 5px;
}
.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text {
  resize: none;
  height: 120px;
}
.contact-form-btn {
  border: 0;
  background: #207733;
  color: #fff;
  padding: 12px 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1rem;
  font-weight: 600;
}
.contact-form-btn:hover {
  background: #051b0a;
}
/* Login */
.login {
  width: 100%;
  height: 35rem;
  padding: 5rem;
}
.login-form {
  max-width: 600px;
  margin: auto;
  padding: 0 5px;
  overflow: hidden;
}
.email-form {
  position: relative;
}
.image-form {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}

.envelope {
  width: 24px;
  height: 24px;
}

.login-form-text-1 {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #d9d9d9;
  padding: 20px 40px;
  outline: none;
  color: #000;
  transition: 0.5s;
  border-radius: 5px;
}

.login-form-text-1:focus {
  box-shadow: 0 0 6px 2px #34495e;
}

.password-form {
  position: relative;
}

.image-form-1 {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}

.password-key-image {
  width: 24px;
  height: 24px;
}

.login-form-text-2 {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #d9d9d9;
  padding: 20px 40px;
  outline: none;
  color: #000;
  transition: 0.5s;
  border-radius: 5px;
}

.login-form-text-2:focus {
  box-shadow: 0 0 6px 2px #2f3841;
}

.span-toggle {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.fa {
  font-size: 3rem;
  color: rgba(70, 68, 68, 0.801);
}

.login-form-btn {
  border: 1px solid #000;
  background-color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-char {
  font-size: 2rem;
}

.login-form-btn:hover {
  border: 0;
  background-color: #207733;
  color: #fff;
  transition: all 0.5s;
}

.redirect-links {
  padding: 1rem;
  gap: 5rem;
  display: flex;
  justify-content: space-around;
}

.redirect-links a {
  text-decoration: none;
}

.create {
  text-transform: uppercase;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
}

/*Forgot */
.forgot {
  color: #000;
  text-transform: capitalize;
}

#forgot {
  width: 100%;
  height: 37rem;
  padding: 3rem;
}

/*Sign up */
.signup {
  width: 100%;
  height: 35rem;
  margin-top: 2rem;
}

.signup-form {
  max-width: 600px;
  margin: auto;
  padding: 0 5px;
  overflow: hidden;
}

.user-form {
  position: relative;
}

.user-image-form {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}

.email-form {
  position: relative;
}

.image-form {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}

.user-image {
  width: 24px;
  height: 24px;
}

.envelope {
  width: 24px;
  height: 24px;
}

.signup-form-text-1 {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #d9d9d9;
  padding: 20px 40px;
  outline: none;
  color: #000;
  transition: 0.5s;
  border-radius: 5px;
}

.signup-form-text-1:focus {
  box-shadow: 0 0 6px 2px #34495e;
}

.password-form {
  position: relative;
}

.image-form-1 {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}

.password-key-image {
  width: 24px;
  height: 24px;
}

.signup-form-text-2 {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #d9d9d9;
  padding: 20px 40px;
  outline: none;
  color: #000;
  transition: 0.5s;
  border-radius: 5px;
}

.signup-form-text-2:focus {
  box-shadow: 0 0 6px 2px #2f3841;
}

.span-toggle {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.fa {
  font-size: 3rem;
  color: rgba(70, 68, 68, 0.801);
}

.signup-form-btn {
  border: 1px solid #000;
  background-color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-char {
  font-size: 2rem;
}

.signup-form-btn:hover {
  border: 0;
  background-color: #207733;
  color: #fff;
  transition: all 0.5s;
}

.redirect-link {
  padding: 1rem;
}

.redirect-link a {
  text-decoration: none;
}

.create-login {
  text-transform: uppercase;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
}

/* Footer */

footer {
  background-color: #2f303a;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #676b6e;
  color: #fff;
}
.footer-menu {
  display: flex;
  justify-content: space-around;
}

.twitter-logo,
.linkedin-logo,
.facebook-logo,
.instagram-logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 8px;
}
